@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
@Html.ActionLink("New Movie","Create","Movies","",new { @class = "btn btn-primary" })
<table class="table table-striped">
    <tr>
        <th>Movies</th>
        <th>Genre</th>
    </tr>
    @foreach(var movie in Model)
    {
<tr>
    <td> @Html.ActionLink(@movie.Name, "Update", "Movies", new { id = movie.Id }, null) </td>
    <td> @movie.Genre.Name </td>
</tr>
    }
</table>


